//
// VARIABLES
//

$gray-0: #303030;
$gray-1: #78767A;
$gray-2: #f0f0f0;
$blue-1: #112140;
$blue-2: #B0D5D9;
$orange: #D95525;
$navy: #152026;
$tan: #95A1D8;
$white: #fff;

$font-primary: "Inria Serif", serif;
$font-secondary: "Inria Sans", sans-serif;